*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #2b62b4;
    color: #000000;
    background-image: url(image/Snowflakes.avif)
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #131212;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fdfdfd;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
#portfolio{
    padding: 50px 0;
}
.sub-title{
    font-size: 40px;
    font-weight: 600;
    color: #000000;
}
.life-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.life{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.life img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #d6ced1);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.life:hover img{
    transform: scale(1.1);
}
.life:hover .layer{
    height: 100%;
}
/* css for small screen */
nav .ri-close-line{
    display: none;
}
nav .ri-menu-line{
    display: none;
}
@media only screen and (max-width: 600px) {
    .logo{
        width: 100px;
    }
    nav .ri-close-line{
        display: block;
        font-size: 25px;
    }
    nav .ri-menu-line{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #bd95dd;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .ri-close-line{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
}